body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: rgb(169, 169, 236);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  height: 200px;
}

.input {
  color: black;
  text-transform: capitalize;
  display: block;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input input {
  border-radius: 10px;
  border: none;
  height: 30px;
  margin: 5px 0;
  text-align: center;
  width: 50%;
  transition: 0.3s;
}
.input input:hover,
.input input:focus {
  background-color: antiquewhite;
}

.op {
  margin-top: 20px;
}
.op input {
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  height: 30px;
  width: 60px;
  transition: 0.3s;
}
.op input:hover {
  background-color: rgb(206, 160, 248);
  color: black;
}

#result {
  text-transform: uppercase;
  margin-top: 15px;
  padding: 20px;
}
