body {
  margin: 0;
  padding: 0;
  background: url(formBG.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 20% 50px;
  width: 40%;
  background-color: rgba(20, 0, 35, 0.753);
}
.formcontent {
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 15px;
  margin-right: 50px;
  padding: 50px 0;
}

.formcontent h1 {
  color: rgb(66, 27, 69);
  text-align: center;
  text-decoration: underline;
}

#form {
  padding: 0 100px;
}

#form th {
  text-align: right;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

input[type="text"],
input[type="password"] {
  border-radius: 10px;
  border: none;
  height: 2rem;
  width: 250px;
  margin: 10px 0;
}

input[type="submit"] {
  height: 2rem;
  border: none;
  border-radius: 10px;
  width: 100px;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(46, 0, 88);
  color: white;
  margin-top: 15px;
}
.error {
  color: rgb(255, 0, 0);
  font-size: larger;
}
